body {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: "PT Sans", "Cuprum", sans-serif;
  min-width: 960px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

h1 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  font-family: "PT Sans", "Cuprum";
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  font-weight: normal;
  font-family: "Cuprum";
  text-transform: uppercase;
}

.bottom-header {
  background-color: #f1f5f7;
  padding-top: 45px;
  padding-bottom: 60px;
}

.top-header {
  font-size: 17px;
  line-height: 18px;
  background-color: #293449;
  height: 42px;
}

.header-logo {
  float: left;
  width: 220px;
}

.search {
  position: relative;
  float: left;
  border: none;
  margin: 0;
  padding: 0;
  width: 260px;
  background-color: #293449;
}

.search ::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 21px;

  width: 17px;
  height: 17px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -585px -5px;
}

.order {
  float: right;
  margin: 0;
  padding: 0;
  max-width: 460px;
}

.order a {
  display: inline-block;
  margin-right: -5px;
  padding: 12px;
  color: #ffffff;
  text-decoration: none;
  vertical-align: top;
}

.order .mark-link {
  position: relative;
  padding-left: 50px;
  padding-right: 30px;
}

.mark-link:hover {
  background-color: #212a3a;
}

.mark-link:active {
  background-color: #161d29;
  opacity: 0.6;
}
.order .mark-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 21px;

  width: 15px;
  height: 17px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -112px -5px;
  opacity: 0.3;
}

.mark-link:hover::before {
  opacity: 1;
}

.mark-link:active::before {
  opacity: 0.5;
}

.order .cart-link {
  position: relative;
  padding-left: 50px;
  padding-right: 30px;
  
}

.order .cart-link::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 21px;

  width: 20px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -85px -5px;
  opacity: 0.3;
}

.cart-link:hover {
  background-color: #212a3a;
}

.cart-link:active {
  background-color: #161d29;
  opacity: 0.6;
}

.cart-link:hover::before {
  opacity: 1;
}

.cart-link:active::before {
  opacity: 0.5;
}

.order .btn-order {
  padding: 12px 20px;
  background-color: #63a63e;
}

.order .btn-order:hover {
  background-color: #5fbb2d;
}

.order .btn-order:active {
  background-color: #518534;
  opacity: 0.51; 
}

.column {
  float: left;
  width: 300px;
  margin-right: 20px;
}

.info p {
  padding-right: 100px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  
  color: #ee3643;
}

.phone {
  position: relative;
  padding: 11px 35px;
  border: 3px solid #ffffff;
  font-size: 21px;
  line-height: 18px;
  text-align: right;
  color: #ee3643;
}

.phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  
  width: 19px;
  height: 19px;
  
  background: url("../img/sprite.png") no-repeat;
  background-position: -524px -5px;
}

.contacts p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block {
  position: relative;
  margin-right: 0;
}

.user-block a {
  display: inline-block;
  font-size: 21px;
  line-height: 18px;
  background: #ffffff;
  text-decoration: none;
  color: #000000;
}

.login {
  position: relative;
  margin-right: 10px; 
  padding: 13px 25px;
  padding-left: 50px;
}

.login::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 15px;
  
  width: 20px;
  height: 17px;
  
  background: url(../img/sprite.png) no-repeat;
  background-position: -394px -5px;  
}

.login:hover::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -424px -5px;
}

.login:active::before {
  background: url(../img/sprite.png) no-repeat;
  background-position: -394px -5px;  
}

.join {
  padding: 13px 25px;
  position: absolute;
  right: 0;
}

.user-block a:hover {
  color: #ee3643;  
}

.user-block a:active {
  color: #cacaca;
}

.user-block-name {
  margin: 0;
  padding: 0;
}

.user-block-name li {
  display: inline-block;
  padding-right: 20px;
}

.user-block-list a {
  color: #32425c;
}
.user-block-list a:hover {
  color: #ee3643;
}

.user-block-list a:active {
  color: #32425c;
  opacity: 0.3;
}

.customer {
  position: relative;
}

.customer::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  
  width: 20px;
  height: 18px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -934px -5px;
}

.customer:hover::before {
  background: url("../img/sprite.png") no-repeat;
  background-position: -964px -5px;
}

.customer:active {
  opacity: 0.3;
}

.customer::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 15px;
  
  width: 20px;
  height: 17px;
  background: url("../img/sprite.png") no-repeat;
  background-position: -394px -5px;
}

.customer:hover::after {
  background: url("../img/sprite.png") no-repeat;
  background-position: -424px -5px;
}

.customer a {
  display: block;
  background: #ffffff;
  padding: 15px;
  padding-left: 47px;
  padding-right: 49px;
  font-size: 21px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;  
}

.main-navigation {
  
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
  
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.main-navigation li {
  float: left;
  
  font-size: 17px;
  line-height: 17px;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 22px 29px;
  color: #ffffff;
  text-decoration: none;
}

.main-navigation a:hover {
  background: #293449;
}

.main-navigation a:active {
  background: #1d2739;
}

.promo-block {
  margin-top: 40px;
  margin-bottom: 53px;
}

.promo-item {
  position: relative;
  width: 300px;
  margin-top: 20px;
  min-height: 125px;
}

.promo-top .promo-item {
  float: left;
  margin-right: 20px;
}

.promo-item-1 {
  background: #f6b22d url("../img/pic-materials.png") no-repeat;
  background-position: 210px 30px;
}

.promo-item-2 {
  background: #4aafde url("../img/pic-instrument.png") no-repeat;
  background-position: 194px 30px;
}

.promo-item-3 {
  background: #cc79d1 url("../img/pic-technics.png") no-repeat;
  background-position: 192px 30px;
}

.promo-item-4 {
  background: #85d179 url("../img/pic-sale.png") no-repeat;
  background-position: 193px 30px;
}

.promo-item-5 {
  background: #f6b22d url("../img/pic-delivery.png") no-repeat;
  background-position: 190px 30px;
}

.promo-top .promo-item-3 {
  margin-right: 0;
}

.promo-item b {
  position: absolute;
  top: 26px;
  left: 26px;
  
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-item .promo-btn {
  position: absolute;
  bottom: 20px;
  left: 27px;
  
  display: inline-block;
  width: 135px;
  padding: 10px 10px;
  background: rgba(100,100,100,.10);
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.promo-item .promo-btn:hover {
  background: rgba(100,100,100,.20);
}

.promo-item .promo-btn:active {
  background: rgba(100,100,100,.30);
}

.promo-bottom-left {
  float: left;
  margin-top: 20px;
}

.slide-1 {
  position: relative;
}

.slide-1 b {
  content: "";
  position: absolute;
  
  top: 29px;
  left: 29px;
 }

.slide-1 p {
  content: "";
  position: absolute;
  
  top: 47px;
  left: 30px;
}

.slide-1 .btn,
.slide-2 .btn {
  content: "";
  position: absolute;
  
  bottom: 30px;
  left: 25px;
 }

.slide-1 .btn:hover {
  background: #ca2c37;
}

.slide-1 .btn:active {
  background: #ba2732;
}

.slide b {
  color: #ffffff;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.slide p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
}

.promo-bottom-right {
  float: right;
}

.slide-2 {
  display: none;
}

.pop-content {
  float: left;
  padding-left: 30px;
}

.pop-btn {
  float: right;
  padding: 5px;
  padding-left: 54px;
  padding-right: 54px;
  margin-top: 25px;
  margin-right: 25px;
  background-color: #ee3643;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.pop {
  background-color: #f7f3ec;
  
}

.popular-items {
  margin-top: 10px;
  margin-bottom: 10px;
}

.catalog-item {
  position: relative;
  float: left;
  width: 217px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
}

article.catalog-item:last-child,
article.catalog-item:nth-child(3),
article.catalog-item:nth-child(6) {
  margin-right: 0;
}

.popular-items article.item-3 {
  margin-right: 20px;
}

.catalog-item image {
  height: 168px;
}

.catalog-item image img {
  max-width: 100%;  
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 59px;
  z-index: 20;
}

.catalog-item .flag-new {
  background: url("../img/sprite.png") no-repeat -454px -5px;
}

.catalog-item .action {
  position:absolute;
  top:0;
  left:0;
  width:218px;
  height:238px;
  padding:40px 0;
  background-color:rgba(255,255,255,0.9);
  z-index:10;
}

.catalog-item .action {
  display: none;
}

.catalog-item:hover .action {
  display: block;
  
}

.catalog-item:hover {
  box-shadow: 0 5px 8px 5px #c3c6cc;
}

.catalog-item .action .buy,
.catalog-item .action .bookmark {
  display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color: white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}

.catalog-item .action .bookmark {
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}

.catalog-item .action .buy {
  position: relative;
}

.catalog-item .action .buy::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 13px;

  width: 20px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -85px -5px;
  opacity: 0.3;
}

.catalog-item .action .buy:hover::before {
  opacity: 1;
}

.catalog-item .action .buy:active::before {
  opacity: 1;
}

.catalog-item .action .buy:hover {
  background-color: #5fbb2d;
  border:3px solid #5fbb2d;
  border-bottom-color:#367315; 
}

.catalog-item .action .buy:active {
  background-color: #518534;
  border:3px solid #518534;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  
}

.catalog-item .discount {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  color: #999999;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content:"";
  position:absolute;
  top:0;
  right:-20px;
  width:0;
  height:0;
  border:20px solid white;
  border-left-color:#ee3643;
  
}

.brands-photo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.brands-photo a {
  float: left;
  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px; 
}

.brands-photo a:hover {
  box-shadow: 0 5px 8px 5px #c3c6cc;
}

.brands-photo a:active {
  opacity: 0.3;
}

.brands-photo a:last-child {
  margin-right: 0;
}

.brands-photo a:nth-child(4) {
  margin-right: 0;
}


.services {
  background: #f2f6f8;
  padding-top: 68px;
  padding-bottom: 103px;
}

.services-top {
  width: 460px;
}
 
.services-bottom {
  
}

h3 {
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.services-bottom-slide {
  float: left;
  width: 300px;
  background: url("../img/service-car.png") no-repeat;
  background-position: 700px 230px;
}

.services-bottom .list {
  
  width: 240px;
  margin-right: 80px;
  
}

.list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list a {
  display: block;
  border-bottom: 1px solid #293449;
  background-color: #32425c;
  padding: 15px;
  padding-left: 24px;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  text-decoration: none;
  
}

.list a:hover {
  background-color: #293449;
}

.list .active {
  color: #32425c;
  background: #ffffff;
}

.services-top p,
.services-bottom-slide p {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.slide2,
.slide3 {
  display: none;
}

.information {
  margin-bottom: 80px;
  margin-top: 80px;
}

.information-left {
  float: left;
  width: 540px;
}

.information-left ul {
  font-size: 18px;
  line-height: 20px;
  list-style-image: url("../img/icon-marker.png");
  
}

.information-left li {
  padding: 10px;
}

.btn {
  padding: 10px 40px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background: #ee3643;
  border-radius: 4px;
  font-family: "Cuprum", sans-serif;
}

.information-right {
  float: right;
  width: 300px;
}

.map-small img {
  margin-top: 20px;
  margin-bottom: 40px;
}

.map-big {
  display: none;
}

.feedback {
  display: none;
}

.footer-top {
  font-size: 18px;
  line-height: 24px;
  background-color: #32425c;
}

.footer-logo {
  float: left;
  width: 340px;
}

.footer-top-right {
  float: right;
  width: 600px;
}


.footer-top-navigation li {
  float: left;
  list-style-type: none;
}

.footer-top-navigation a {
  display: block;
  padding-right: 50px;
  color: white;
  text-decoration: none;
}

.footer-top-navigation a:hover {
  text-decoration: underline;
}
.footer-top-navigation a:active {
  opacity: 0.5;
}

.footer-logo p {
  color: white;
}

.footer-bottom-navigation li {
  float: left;
  list-style-type: none;
}

.footer-bottom-navigation a {
  display: block;
  padding-right: 50px;
  color: #ffd180;
  text-decoration: none;
}

.footer-bottom-navigation a:hover {
  text-decoration: underline;
}
.footer-bottom-navigation a:active {
  opacity: 0.5;
}

a.last {
  padding-right: 0;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: #293449;
  color: #ffffff;
}

.footer-bottom-left {
  float: left;
  width: 300px;
  margin-right: 60px;
}

.footer-bottom-right {
  float: right;
  width: 560px;
}

.footer-social {
  float: left;
  width: 160px;
  outline: 2px solid aqua;
}

.footer-connect {
  float: left;
  width: 140px;
  min-height: 50px;
  margin-right: 50px;
}

.footer-connect a,
.footer-copyright a {
  text-decoration: none;
  color: #ffd180;
}

.footer-connect a:hover,
.footer-copyright a:hover {
  text-decoration: underline;
}

.footer-connect a:active,
.footer-copyright a:active {
  color: #ee3643;
}

.footer-copyright {
  float: left;
  width: 138px;
  min-height: 50px;
}

.breadcrumbs ul {
  list-style-type: none;
}

.breadcrumbs li {
  float: left;
  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  display: block;
  padding-right: 50px;
  padding-bottom: 15px;
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
  color: #000000;
}

.breadcrumbs .home {
  background: url("../img/sprite.png") no-repeat;
  background-position: -337px -5px;
}

.drill {
  background-color: #f2f6f8;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-block {
  float: left;
  background-color: #f7f3ec;
  width: 220px;
  margin-right: 20px;
}

.sorting-block ul {
  list-style-type: none;
}

.sorting-block li {
  float: left;
  background-color: #f7f3ec;
  padding-right: 30px;
}

.filter-desk {
  float: left;
  width: 220px;
}

.catalog {
  float: right;
  width: 700px;
}

.pagination {
  width: 280px;
  margin-left: 435px;
}

.pagination a {
  display: inline-block;
  min-width: 37px;
  margin-top: 53px;
  margin-bottom: 63px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
}

.about-drill {
  background-color: #f2f6f8;
  padding-top: 70px;
  padding-bottom: 77px;
}